<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    <meta charset="UTF-8">
    <title>Html編輯器</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/Scripts/ckeditor")
</head>
<body>
    <div id="editor">
    </div>
    <div id="strComment" style="display: none">
    </div>
</body>
</html>
<script type="text/javascript">
    var editor, html = '';
    $(function () {

        var config = {};
        editor = CKEDITOR.appendTo('editor', config, html);
    });
    

   
</script>
