@{
    ViewBag.Title = "設計";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<h3>設計項目:</h3>
<ol class="round">
    <li class="one">
        <h5>前台標準</h5>
        <a href="/ArtWork/20160509_lrpnav/NavFooter.html">內容</a>
    </li>

    <li class="two">
        <h5>後台標準</h5>
        <a href="/ArtWork/20160501_lrpBackweb/TecrmBackwebCommon.html">內容</a>
    </li>

</ol>
